@import './tools/_mixins'  

body,html
	background-color: whitesmoke
	min-height: 100vh
	width: 100%
	scroll-behavior: smooth
	overflow: hidden
	-webkit-font-smoothing: antialiased
	*
		-webkit-font-smoothing: inherit
	.fade-enter-active,
	.fade-leave-active 
		transition-duration: 0.3s
		transition-property: opacity
		transition-timing-function: ease
	.fade-enter,
	.fade-leave-active 
		opacity: 0
	.md-list.md-theme-default .md-selected .md-list-item-content, .md-list.md-theme-default .router-link-active .md-list-item-content
		color: lightgray!important
	.md-checkbox.md-theme-default.md-checked.md-primary .md-checkbox-container
		border-color: transparent!important
		background-color: lightgray!important
	.md-list.md-theme-default,
	.md-accent
	    background-color: lightseagreen !important
	    box-shadow: none !important
	#nprogress
		z-index: 99999
		.bar
			background: white
		.spinner
			top: 20px
			right: 10px
			&-icon
				border-top-color: white
				border-left-color: white								
	&.nprogress-busy
		#wrap 
			opacity: .3
			pointer-events: none 
			* 
				pointer-events: inherit		
	#wrap 
		transition: 1000ms linear all
		display: flex
		flex-flow: column
		justify-content: flex-start
		height: 100%
		width: inherit
		overflow: inherit
		position: absolute
		top: 0
		left: 0
		z-index: 1
		.__rail-is-vertical
			z-index: 9999!important
			right: 0!important
			bottom: 0!important
			background-color: white!important
		.main 
			overflow: inherit
			width: 100%
			flex: 1				
			padding: 30px
			color: gray
		.container
			margin: 0 auto
			padding-left: 45px
			padding-right: 45px
			max-width: 1980px
			+mq(814px, max)
				padding-left: 15px
				padding-right: 15px